/* site.css */

@function calcRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

$main-color : #E3F2FD;

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin: auto auto 0 auto;
}

.mb-6 {
    margin-bottom: 6rem;
}

/* Datepicker */
#datepicker, .datepicker, .datepicker-inline, .datepicker-days, .table-condensed {
    min-width: 100%;
    min-height: 65vh;
}

.datepicker-days {
    height: 65vh;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
    background-image: none;
    background-color: #6C757D;
    font-weight: normal;
    color: white;
    text-shadow: none;
}
/*---------------*/

.container-fields {
    width: 100%;
    height: 100%;
    background-color: $main-color;
}

.fa-calendar-plus {
    font-size: 3rem;
}

.fa-pen-square {
    font-size: 3.15rem;
}

