/* site.css */

@function calcRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

$main-color : #E3F2FD;

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin: auto auto 0 auto;
}

.mb-6 {
    margin-bottom: 6rem;
}

/* Datepicker */
#datepicker, .datepicker, .datepicker-inline, .datepicker-days, .table-condensed {
    min-width: 100%;
    min-height: 65vh;
}

.datepicker-days {
    height: 65vh;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
    background-image: none;
    background-color: #6C757D;
    font-weight: normal;
    color: white;
    text-shadow: none;
}
/*---------------*/

.container-fields {
    width: 100%;
    height: 100%;
    background-color: $main-color;
}

.fa-calendar-plus, .fa-calendar-alt, .fa-pen-square {
    font-size: 3rem;
}

/* validation */
input:invalid {
    border: 0.1em dotted red;
}

input:valid {
    border: 0.1em groove green;
}

/* table */
.shadow {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 3.1rem;
    font-weight: 300;
    line-height: 1.2;
    height: 4rem;
    transition: all linear .3s;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.14), 0 1px 1px 1px rgba(0,0,0,0.12), 0 1px 1px -1px rgba(0,0,0,0.2);
}

.shadow:hover {
    font-size: 3.12rem;
    text-shadow: 2px 4px 1px rgba(0,0,0,0.14);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

