/* site.css */

@function calcRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

$main-color : #E3F2FD;
$secondary-color: #6c757d;

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin: auto auto 0 auto;
}

.mb-6 {
    margin-bottom: 6rem;
}

/* Datepicker */
#datepicker, .datepicker, .datepicker-inline, .datepicker-days, .table-condensed {
    min-width: 100%;
    min-height: 65vh;
}

.datepicker-days {
    height: 65vh;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
    background-image: none;
    background-color: #6C757D;
    font-weight: normal;
    color: white;
    text-shadow: none;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover, .datepicker .prev:hover,
.datepicker tfoot tr th {
    background-color: $secondary-color;
    color: white;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover, .datepicker .prev:hover,
.datepicker tfoot tr th:hover {
    background-color: #5d646b;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover, .datepicker .prev:hover,
.datepicker tfoot tr th:focus {
    background-color: #51575c;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover, .datepicker .prev:hover,
.datepicker tfoot tr th:active {
    background-color: #51575c;
}

/*---------------*/
.container-fields {
    width: 100%;
    height: 100%;
    background-color: $main-color;
}

.fa-calendar-plus, .fa-calendar-alt, .fa-pen-square {
    font-size: 3rem;
}

/* validation */
input:invalid {
    border: 0.1em dotted red;
}

input:valid {
    border: 0.1em groove green;
}

/* table */
.shadow {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1.2;
    height: 4rem;
    transition: all linear .3s;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.14), 0 1px 1px 1px rgba(0,0,0,0.12), 0 1px 1px -1px rgba(0,0,0,0.2);
}

.shadow:hover {
    font-size: 2.61rem;
    text-shadow: 2px 4px 1px rgba(0,0,0,0.14);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.table-dark {
    background-color: $secondary-color;
}

/* Add Zoom Animation */
.animate-zoom {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

/* for scale */
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* for rotate */
.transform-90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* side nav calendar */
#sideCalendarBtn:hover {
    cursor: pointer;
    text-decoration: none;
}

#sideCalendarBtn:active {
    font-size: xx-large;
}

.sideNav {
    position: fixed;
    background-color: $secondary-color;
    height: 100%;
    width: 0;
    z-index: 9999;
    top: 0;
    left: 0;
    padding-top: 60px;
    transition: 0.5s;
    overflow-x: hidden;
}
/* end */



