<!-- modals -->

@* error modal *@
<div class="modal fade" id="notDataModal" tabindex="-1" role="dialog" aria-labelledby="notDataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content d-flex align-items-center justify-content-center h-100">
            <div class="modal-header">
                <i class="fas fa-not-equal text-secondary" style="font-size: 4rem;"></i>
            </div>
            <div class="modal-body">
                <p class="text-secondary text-center">По данной дате событий нет.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>