@{
    ViewData["Title"] = "Home Page";
}



<div class="d-flex flex-row container-fields">
    <div class="d-p-field mr-5">
        <div id="datepicker" data-date="@DateTime.Now.ToLocalTime().ToString()"></div>
        <input type="hidden" id="my_hidden_input">
        <div class="d-flex align-items-center flex-column mt-5">
            <button id="d-picker-btn" class="btn btn-sm btn-outline-secondary mt-3">d-picker-btn</button>
            <button id="d-picker-btn" class="btn btn-sm btn-outline-secondary mt-3">d-picker-btn</button>
            <button id="d-picker-btn" class="btn btn-sm btn-outline-secondary mt-3">d-picker-btn</button>
        </div>
    </div>
    <div class="events-field">
        <h4 class="text-center m-2">Событие</h4>
        
    </div>
</div>

