@{
    ViewData["Title"] = "Home Page";
}

<!-- main -->
<div class="d-flex flex-column container-fields">
    <!-- datepicker -->
    <div id="datepicker" data-date="@DateTime.Now.ToLocalTime().ToString()"></div>
    <!-- for datepicker -->
    <input type="hidden" id="my_hidden_input">
    <!-- btns -->
    <div class="d-flex justify-content-center">
        @{
            if (User.IsInRole("admin"))
            {
                <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalLong">
                    <i class="fas fa-calendar-plus"></i>
                </a>
            }
            else
            {
                <a class="nav-link disabled" href="#">
                    <i class="fas fa-calendar-plus"></i>
                </a>
            }
        }
        <a class="nav-link" href="#">
            <i class="fas fa-pen-square"></i>
        </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <span class="badge badge-secondary">Создать событие</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* INPUT NAME *@
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Название</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                @* INPUT DATE *@
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Дата</span>
                    </div>
                    <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                @* INPUT NUMBER *@
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Количество участников</span>
                    </div>
                    <input type="number" min="0" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                @* BUTTON ADD FIELD *@
                <button id="addField" type="button" class="btn btn-primary btn-sm mb-3">
                    <i class="fas fa-plus">Добавить Поле</i>
                </button>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Название поля</span>
    </div>
    <input data-field="1" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Значение поля</span>
    </div>
    <input data-field="2" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    <div class="input-group-append">
        <a class="btn btn-sm btn-outline-danger" href="#">x</a>
    </div>
</div>*@

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', () => {
        
        const addBtn = document.getElementById('addField');
        const modalFooter = document.getElementsByClassName('modal-footer')[0];
        // set new field via 'Closures'
        const setField = createField();

        // add field
        addBtn.addEventListener('click', () => {
            modalFooter.insertAdjacentElement('beforebegin', setField());
        });

        // delete field
        document.addEventListener('click', (e) => {
            if (!e.target.hasAttribute('data-clear-name')) {
                return;
            }

            let name = e.target.getAttribute('data-clear-name');
            deleteFieldViaAttribute(name);
        });

        // create new field
        function createField() {
            let fieldId = 0;
            return function () {
                fieldId = fieldId + 1;
                let fieldName = 'field' + fieldId;
                let innerFields = '<div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-sm">Название поля</span></div><input data-field="1" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"><div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-sm">Значение поля</span></div><input data-field="2" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"><div class="input-group-append"> '
                    + '<a data-clear-name="' + fieldName + '" class="btn btn-sm btn-outline-danger" href="#">x</a></div>';

                const field = document.createElement('div');
                field.setAttribute('id', fieldName);
                field.classList.add('input-group');
                field.classList.add('input-group-sm');
                field.classList.add('mb-3');
                field.innerHTML = innerFields;
                return field;
            }
        }

        // delete field via attribute name
        function deleteFieldViaAttribute(name) {
            document.getElementById(name).remove();
        }

    });

</script>
