@using Microsoft.AspNetCore.Identity
@using EventPlanning.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline my-2 my-lg-0">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a asp-area="" class="btn btn-link navbar-btn navbar-link" asp-controller="Manage" asp-action="Index" title="Аккаунт">
                    <i class="far fa-user-circle text-primary"></i>
                </a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">
                    <i class="fas fa-sign-in-alt text-primary"> Выйти</i>
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">
                <i class="fas fa-registered"> Регистрация</i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                <i class="fas fa-sign-in-alt"> Войти</i>
            </a>
        </li>
    </ul>
}
